h3{
    background-color: darkmagenta;
    color: gainsboro;
    font-size: 25px;

}

.btn-info:hover{
    background-color: darkviolet;
}

canvas{
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes example{
    from {box-shadow: 1px 1px 38px rgb(30, 212, 69);} to {box-shadow: 1px 1px 38px rgb(100, 15, 197);}}